.RatingFilter {
    background-color: #175b75;
    color: #FFFFFF;
    margin: 10px 0;
    padding: 10px;
    span {
        font-weight: 600;
        display: inline-block;
        margin-right: 10px;
    }
}